<div class="todo-container">
  <h1>To-Do List</h1>

  <div class="input-container">
    <input [(ngModel)]="newTodo" placeholder="Add a new task" />
    <button (click)="onAddTodo()">Add Task</button>
  </div>

  <ul>
    <li *ngFor="let todo of todos$ | async" class="todo-item">
      <span [style.textDecoration]="todo.completed ? 'line-through' : 'none'" class="todo-title">
        {{ todo.title }}
      </span>
      <button (click)="onDeleteTodo(todo.id)">Delete</button>
    </li>
  </ul> 
</div>
